# TASK #1: UNDERSTAND THE PROBLEM STATEMENT/GOAL

- This dataset contains weekly sales from 99 departments belonging to 45 different stores. 
- Our aim is to forecast weekly sales from a particular department.
- The objective of this case study is to forecast weekly retail store sales based on historical data.
- The data contains holidays and promotional markdowns offered by various stores and several departments throughout the year.
- Markdowns are crucial to promote sales especially before key events such as Super Bowl, Christmas and Thanksgiving. 
- Developing accurate model will enable make informed decisions and make recommendations to improve business processes in the future. 
- The data consists of three sheets: 
    - Stores
    - Features
    - Sales
- Data Source : https://www.kaggle.com/manjeetsingh/retaildataset

# TASK #2: IMPORT DATASET AND LIBRARIES

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import zipfile

In [4]:
df = pd.read_csv('../data/data_processed.csv')
df.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,month,Type,Size
0,1,1,2010-05-02,24924.50,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,5,A,151315
1,1,2,2010-05-02,50605.27,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,5,A,151315
2,1,3,2010-05-02,13740.12,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,5,A,151315
3,1,4,2010-05-02,39954.04,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,5,A,151315
4,1,5,2010-05-02,32229.38,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,5,A,151315

In [5]:
# Drop the date
y = df['Weekly_Sales'] # target
X = df.drop(columns = ['Weekly_Sales', 'Date']) # features

In [6]:
X = pd.get_dummies(X, columns = ['Type', 'Store', 'Dept'], drop_first = True)

In [7]:
df =  pd.concat([y,X], axis=1)
df.head()

,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,...,Dept_90,Dept_91,Dept_92,Dept_93,Dept_94,Dept_95,Dept_96,Dept_97,Dept_98,Dept_99
0,24924.50,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,...,0,0,0,0,0,0,0,0,0,0
1,50605.27,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,...,0,0,0,0,0,0,0,0,0,0
2,13740.12,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,...,0,0,0,0,0,0,0,0,0,0
3,39954.04,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,...,0,0,0,0,0,0,0,0,0,0
4,32229.38,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,...,0,0,0,0,0,0,0,0,0,0

In [8]:
X.shape

(421570, 138)

In [9]:
y.shape

(421570,)

In [10]:
X.head()

,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,...,Dept_90,Dept_91,Dept_92,Dept_93,Dept_94,Dept_95,Dept_96,Dept_97,Dept_98,Dept_99
0,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,...,0,0,0,0,0,0,0,0,0,0
1,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,...,0,0,0,0,0,0,0,0,0,0
2,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,...,0,0,0,0,0,0,0,0,0,0
3,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,...,0,0,0,0,0,0,0,0,0,0
4,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,...,0,0,0,0,0,0,0,0,0,0

In [11]:
# save columnames for later purposes
featurenames = list(X.columns)

In [12]:
X = np.array(X).astype('float32')
y = np.array(y).astype('float32')

In [13]:
# reshaping the array from (421570,) to (421570, 1)
y = y.reshape(-1,1)
y.shape

(421570, 1)

In [14]:
# spliting the data into train, validation and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.5)
X_test, X_val, y_test, y_val = train_test_split(X_test, y_test, test_size = 0.5)

In [15]:
X_train.shape

(210785, 138)

In [16]:
X_val.shape

(105393, 138)

In [17]:
X_test.shape

(105392, 138)

# TRAIN XGBOOST USING SAGEMAKER Scriptmode

In [18]:
# Convert the array into dataframe in a way that target variable is set as the first column and followed by feature columns
# This is because sagemaker built-in algorithm expects the data in this format.

train_data = pd.DataFrame({'Target': y_train[:,0]})
for i in range(X_train.shape[1]):
    train_data[i] = X_train[:,i]

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`

In [19]:
train_data.head()

,Target,0,1,2,3,4,5,6,7,8,...,128,129,130,131,132,133,134,135,136,137
0,10802.219727,0.0,69.709999,2.809,0.000000,0.00,0.000000,0.000000,0.000000,182.431564,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,14468.509766,0.0,69.709999,2.809,0.000000,0.00,0.000000,0.000000,0.000000,182.431564,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,10464.530273,0.0,32.360001,3.242,25204.669922,2436.75,167.880005,16066.759766,7289.689941,130.645798,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,286.290009,0.0,49.259998,3.348,0.000000,0.00,0.000000,0.000000,0.000000,127.719582,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,35345.730469,0.0,51.310001,3.112,0.000000,0.00,0.000000,0.000000,0.000000,132.152130,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
val_data = pd.DataFrame({'Target':y_val[:,0]})
for i in range(X_val.shape[1]):
    val_data[i] = X_val[:,i]

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  This is separate from the ipykernel package so we can avoid doing imports until

In [21]:
val_data.head()

,Target,0,1,2,3,4,5,6,7,8,...,128,129,130,131,132,133,134,135,136,137
0,9263.660156,0.0,73.940002,3.667,7582.009766,585.900024,0.000000,1019.280029,3522.110107,142.192032,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3.000000,0.0,28.600000,3.638,0.000000,0.000000,0.000000,0.000000,0.000000,134.068253,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,20628.429688,0.0,71.449997,3.881,0.000000,0.000000,0.000000,0.000000,0.000000,208.153503,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,7892.990234,0.0,33.590000,3.827,26970.650391,2430.780029,152.580002,28367.779297,3625.669922,137.423889,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,3152.199951,0.0,55.209999,3.951,11984.620117,0.000000,47.520000,6150.629883,1775.540039,190.922211,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
val_data.shape

(105393, 139)

In [23]:
test_data = pd.DataFrame({'Target':y_test[:,0]})
for i in range(X_test.shape[1]):
    test_data[i] = X_test[:,i]

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  This is separate from the ipykernel package so we can avoid doing imports until

In [24]:
# convert df to libsvm data type
from sklearn.datasets import dump_svmlight_file

def df_to_libsvm(df: pd.DataFrame, filepath: str):
    x = df.drop(columns = ['Target'], axis=1)
    y = df['Target']
    dump_svmlight_file(X=x, y=y, f=filepath, zero_based=True)

In [25]:
# save train_data and validation_data as libsvm files compatible for sparkml-lib
df_to_libsvm(train_data, '../data/train')
df_to_libsvm(val_data, '../data/validation')
df_to_libsvm(test_data, '../data/test')

## also save train_data and validation_data as csv files.
#train_data.to_csv('../data/train.csv', header = False, index = False)
#val_data.to_csv('../data/validation.csv', header = False, index = False)

In [26]:
# Boto3 is the Amazon Web Services (AWS) Software Development Kit (SDK) for Python
# Boto3 allows Python developer to write software that makes use of services like Amazon S3 and Amazon EC2

import sagemaker
import boto3
from sagemaker import Session

# Let's create a Sagemaker session
sagemaker_session = sagemaker.Session()
#bucket = Session().default_bucket() 
bucket = 'salesprediction-ml-sagemaker'
prefix = 'XGBoost-Regressor'
key = 'XGBoost-Regressor'
#Roles give learning and hosting access to the data
#This is specified while opening the sagemakers instance in "Create an IAM role"
role = sagemaker.get_execution_role()

In [27]:
print(role)

arn:aws:iam::103721820087:role/service-role/AmazonSageMaker-ExecutionRole-20190909T202771

In [28]:
# read the data from csv file and then upload the data to s3 bucket
import os
with open('../data/train','rb') as f:
    # The following code uploads the data into S3 bucket to be accessed later for training
    boto3.Session().resource('s3').Bucket(bucket).Object(os.path.join(prefix, 'train', key)).upload_fileobj(f)

# Let's print out the training data location in s3
s3_train_data = 's3://{}/{}/train/{}'.format(bucket, prefix, key)
print('uploaded training data location: {}'.format(s3_train_data))

uploaded training data location: s3://salesprediction-ml-sagemaker/XGBoost-Regressor/train/XGBoost-Regressor

In [29]:
# read the data from csv file and then upload the data to s3 bucket
with open('../data/validation','rb') as f:
    # The following code uploads the data into S3 bucket to be accessed later for training

    boto3.Session().resource('s3').Bucket(bucket).Object(os.path.join(prefix, 'validation', key)).upload_fileobj(f)
# Let's print out the validation data location in s3
s3_validation_data = 's3://{}/{}/validation/{}'.format(bucket, prefix, key)
print('uploaded validation data location: {}'.format(s3_validation_data))

uploaded validation data location: s3://salesprediction-ml-sagemaker/XGBoost-Regressor/validation/XGBoost-Regressor

In [30]:
# read the data from csv file and then upload the data to s3 bucket
with open('../data/test','rb') as f:
    # The following code uploads the data into S3 bucket to be accessed later for training

    boto3.Session().resource('s3').Bucket(bucket).Object(os.path.join(prefix, 'test', key)).upload_fileobj(f)
# Let's print out the validation data location in s3
s3_test_data = 's3://{}/{}/test/{}'.format(bucket, prefix, key)
print('uploaded test data location: {}'.format(s3_test_data))

uploaded test data location: s3://salesprediction-ml-sagemaker/XGBoost-Regressor/test/XGBoost-Regressor

In [31]:
# creates output placeholder in S3 bucket to store the output
output_path = "s3://{}/{}/output".format(bucket, prefix)
print('training artifacts will be uploaded to: {}'.format(output_path))

training artifacts will be uploaded to: s3://salesprediction-ml-sagemaker/XGBoost-Regressor/output

In [33]:
hyperparams = {
    "max_depth": "5",
    "n_estimators": "10", # in scriptmode, we can set e.g. n_estimator, which we cannot in the built-in xgb!
    "eta": "0.2",
    "gamma": "4",
    "min_child_weight": "6",
    "subsample": "0.7",
    "objective": "reg:squarederror",
    "num_round": "50",
    "verbosity": "1",
}

instance_type = "ml.m5.2xlarge"
content_type = "libsvm"
#content_type = "csv"

In [34]:
# Open Source distributed script mode
from sagemaker.session import Session
from sagemaker.inputs import TrainingInput
from sagemaker.xgboost.estimator import XGBoost

session = Session()
script_path = "xgb_train.py"

xgb_script_mode_estimator = XGBoost(
    entry_point=script_path,
    framework_version="1.5-1",  # Note: framework_version is mandatory
    hyperparameters=hyperparams,
    role=role,
    instance_count=1,
    instance_type=instance_type,
    output_path=output_path,
)

In [35]:
# Creating "train", "validation" channels to feed in the model
# Source: https://docs.aws.amazon.com/sagemaker/latest/dg/sagemaker-algo-docker-registry-paths.html
train_input = TrainingInput(
    "s3://{}/{}/{}/".format(bucket, prefix, "train"), content_type=content_type
)

valid_input = TrainingInput(
    "s3://{}/{}/{}/".format(bucket, prefix, "validation"), content_type=content_type
)

test_input = TrainingInput(
    "s3://{}/{}/{}/".format(bucket, prefix, "test"), content_type=content_type
)

#train_input = sagemaker.session.s3_input(s3_data = s3_train_data, content_type=content_type,s3_data_type = 'S3Prefix')
#valid_input = sagemaker.session.s3_input(s3_data = s3_validation_data, content_type=content_type,s3_data_type = 'S3Prefix')

In [36]:
train_input.config

{'DataSource': {'S3DataSource': {'S3DataType': 'S3Prefix',
   'S3Uri': 's3://salesprediction-ml-sagemaker/XGBoost-Regressor/train/',
   'S3DataDistributionType': 'FullyReplicated'}},
 'ContentType': 'libsvm'}

In [37]:
# train the model
data_channels = {'train': train_input,'validation': valid_input}
xgb_script_mode_estimator.fit(data_channels)

2022-11-29 08:51:57 Starting - Starting the training job...
2022-11-29 08:52:13 Starting - Preparing the instances for trainingProfilerReport-1669711917: InProgress
......
2022-11-29 08:53:22 Downloading - Downloading input data...
2022-11-29 08:53:47 Training - Downloading the training image...
2022-11-29 08:54:23 Training - Training image download completed. Training in progress..[2022-11-29 08:54:26.574 ip-10-2-82-147.ec2.internal:7 INFO utils.py:27] RULE_JOB_STOP_SIGNAL_FILENAME: None
[2022-11-29:08:54:26:INFO] Imported framework sagemaker_xgboost_container.training
[2022-11-29:08:54:26:INFO] No GPUs detected (normal if no gpus installed)
[2022-11-29:08:54:26:INFO] Invoking user training script.
[2022-11-29:08:54:27:INFO] Module xgb_train does not provide a setup.py.
Generating setup.py
[2022-11-29:08:54:27:INFO] Generating setup.cfg
[2022-11-29:08:54:27:INFO] Generating MANIFEST.in
[2022-11-29:08:54:27:INFO] Installing module with the following command:
/miniconda3/bin/python3 -m pip install .
Processing /opt/ml/code
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: xgb-train
  Building wheel for xgb-train (setup.py): started
  Building wheel for xgb-train (setup.py): finished with status 'done'
  Created wheel for xgb-train: filename=xgb_train-1.0.0-py2.py3-none-any.whl size=5775 sha256=cc4a502201575d63c665b774538180c6ddd86a7f254eae1e32892757a2d51ac3
  Stored in directory: /home/model-server/tmp/pip-ephem-wheel-cache-2rq2rxp8/wheels/f3/75/57/158162e9eab7af12b5c338c279b3a81f103b89d74eeb911c00
Successfully built xgb-train
Installing collected packages: xgb-train
Successfully installed xgb-train-1.0.0
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
[notice] A new release of pip available: 22.2.2 -> 22.3.1
[notice] To update, run: pip install --upgrade pip
[2022-11-29:08:54:29:INFO] No GPUs detected (normal if no gpus installed)
[2022-11-29:08:54:29:INFO] Invoking user script
Training Env:
{
    "additional_framework_parameters": {},
    "channel_input_dirs": {
        "train": "/opt/ml/input/data/train",
        "validation": "/opt/ml/input/data/validation"
    },
    "current_host": "algo-1",
    "framework_module": "sagemaker_xgboost_container.training:main",
    "hosts": [
        "algo-1"
    ],
    "hyperparameters": {
        "eta": "0.2",
        "gamma": "4",
        "max_depth": "5",
        "min_child_weight": "6",
        "n_estimators": "10",
        "num_round": "50",
        "objective": "reg:squarederror",
        "subsample": "0.7",
        "verbosity": "1"
    },
    "input_config_dir": "/opt/ml/input/config",
    "input_data_config": {
        "train": {
            "ContentType": "libsvm",
            "TrainingInputMode": "File",
            "S3DistributionType": "FullyReplicated",
            "RecordWrapperType": "None"
        },
        "validation": {
            "ContentType": "libsvm",
            "TrainingInputMode": "File",
            "S3DistributionType": "FullyReplicated",
            "RecordWrapperType": "None"
        }
    },
    "input_dir": "/opt/ml/input",
    "is_master": true,
    "job_name": "sagemaker-xgboost-2022-11-29-08-51-57-441",
    "log_level": 20,
    "master_hostname": "algo-1",
    "model_dir": "/opt/ml/model",
    "module_dir": "s3://salesprediction-ml-sagemaker/sagemaker-xgboost-2022-11-29-08-51-57-441/source/sourcedir.tar.gz",
    "module_name": "xgb_train",
    "network_interface_name": "eth0",
    "num_cpus": 8,
    "num_gpus": 0,
    "output_data_dir": "/opt/ml/output/data",
    "output_dir": "/opt/ml/output",
    "output_intermediate_dir": "/opt/ml/output/intermediate",
    "resource_config": {
        "current_host": "algo-1",
        "current_instance_type": "ml.m5.2xlarge",
        "current_group_name": "homogeneousCluster",
        "hosts": [
            "algo-1"
        ],
        "instance_groups": [
            {
                "instance_group_name": "homogeneousCluster",
                "instance_type": "ml.m5.2xlarge",
                "hosts": [
                    "algo-1"
                ]
            }
        ],
        "network_interface_name": "eth0"
    },
    "user_entry_point": "xgb_train.py"
}
Environment variables:
SM_HOSTS=["algo-1"]
SM_NETWORK_INTERFACE_NAME=eth0
SM_HPS={"eta":"0.2","gamma":"4","max_depth":"5","min_child_weight":"6","n_estimators":"10","num_round":"50","objective":"reg:squarederror","subsample":"0.7","verbosity":"1"}
SM_USER_ENTRY_POINT=xgb_train.py
SM_FRAMEWORK_PARAMS={}
SM_RESOURCE_CONFIG={"current_group_name":"homogeneousCluster","current_host":"algo-1","current_instance_type":"ml.m5.2xlarge","hosts":["algo-1"],"instance_groups":[{"hosts":["algo-1"],"instance_group_name":"homogeneousCluster","instance_type":"ml.m5.2xlarge"}],"network_interface_name":"eth0"}
SM_INPUT_DATA_CONFIG={"train":{"ContentType":"libsvm","RecordWrapperType":"None","S3DistributionType":"FullyReplicated","TrainingInputMode":"File"},"validation":{"ContentType":"libsvm","RecordWrapperType":"None","S3DistributionType":"FullyReplicated","TrainingInputMode":"File"}}
SM_OUTPUT_DATA_DIR=/opt/ml/output/data
SM_CHANNELS=["train","validation"]
SM_CURRENT_HOST=algo-1
SM_MODULE_NAME=xgb_train
SM_LOG_LEVEL=20
SM_FRAMEWORK_MODULE=sagemaker_xgboost_container.training:main
SM_INPUT_DIR=/opt/ml/input
SM_INPUT_CONFIG_DIR=/opt/ml/input/config
SM_OUTPUT_DIR=/opt/ml/output
SM_NUM_CPUS=8
SM_NUM_GPUS=0
SM_MODEL_DIR=/opt/ml/model
SM_MODULE_DIR=s3://salesprediction-ml-sagemaker/sagemaker-xgboost-2022-11-29-08-51-57-441/source/sourcedir.tar.gz
SM_TRAINING_ENV={"additional_framework_parameters":{},"channel_input_dirs":{"train":"/opt/ml/input/data/train","validation":"/opt/ml/input/data/validation"},"current_host":"algo-1","framework_module":"sagemaker_xgboost_container.training:main","hosts":["algo-1"],"hyperparameters":{"eta":"0.2","gamma":"4","max_depth":"5","min_child_weight":"6","n_estimators":"10","num_round":"50","objective":"reg:squarederror","subsample":"0.7","verbosity":"1"},"input_config_dir":"/opt/ml/input/config","input_data_config":{"train":{"ContentType":"libsvm","RecordWrapperType":"None","S3DistributionType":"FullyReplicated","TrainingInputMode":"File"},"validation":{"ContentType":"libsvm","RecordWrapperType":"None","S3DistributionType":"FullyReplicated","TrainingInputMode":"File"}},"input_dir":"/opt/ml/input","is_master":true,"job_name":"sagemaker-xgboost-2022-11-29-08-51-57-441","log_level":20,"master_hostname":"algo-1","model_dir":"/opt/ml/model","module_dir":"s3://salesprediction-ml-sagemaker/sagemaker-xgboost-2022-11-29-08-51-57-441/source/sourcedir.tar.gz","module_name":"xgb_train","network_interface_name":"eth0","num_cpus":8,"num_gpus":0,"output_data_dir":"/opt/ml/output/data","output_dir":"/opt/ml/output","output_intermediate_dir":"/opt/ml/output/intermediate","resource_config":{"current_group_name":"homogeneousCluster","current_host":"algo-1","current_instance_type":"ml.m5.2xlarge","hosts":["algo-1"],"instance_groups":[{"hosts":["algo-1"],"instance_group_name":"homogeneousCluster","instance_type":"ml.m5.2xlarge"}],"network_interface_name":"eth0"},"user_entry_point":"xgb_train.py"}
SM_USER_ARGS=["--eta","0.2","--gamma","4","--max_depth","5","--min_child_weight","6","--n_estimators","10","--num_round","50","--objective","reg:squarederror","--subsample","0.7","--verbosity","1"]
SM_OUTPUT_INTERMEDIATE_DIR=/opt/ml/output/intermediate
SM_CHANNEL_TRAIN=/opt/ml/input/data/train
SM_CHANNEL_VALIDATION=/opt/ml/input/data/validation
SM_HP_ETA=0.2
SM_HP_GAMMA=4
SM_HP_MAX_DEPTH=5
SM_HP_MIN_CHILD_WEIGHT=6
SM_HP_N_ESTIMATORS=10
SM_HP_NUM_ROUND=50
SM_HP_OBJECTIVE=reg:squarederror
SM_HP_SUBSAMPLE=0.7
SM_HP_VERBOSITY=1
PYTHONPATH=/miniconda3/bin:/:/miniconda3/lib/python/site-packages/xgboost/dmlc-core/tracker:/miniconda3/lib/python38.zip:/miniconda3/lib/python3.8:/miniconda3/lib/python3.8/lib-dynload:/miniconda3/lib/python3.8/site-packages
Invoking script with the following command:
/miniconda3/bin/python3 -m xgb_train --eta 0.2 --gamma 4 --max_depth 5 --min_child_weight 6 --n_estimators 10 --num_round 50 --objective reg:squarederror --subsample 0.7 --verbosity 1
[08:54:30] WARNING: ../src/learner.cc:576:
Parameters: { "n_estimators" } might not be used.
  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.
[0]#011train-rmse:24379.46094#011validation-rmse:24233.04297
[1]#011train-rmse:21921.36914#011validation-rmse:21759.23828
[2]#011train-rmse:20090.60547#011validation-rmse:19926.30469
[3]#011train-rmse:18582.43945#011validation-rmse:18445.91211
[4]#011train-rmse:17547.18750#011validation-rmse:17412.60547
[5]#011train-rmse:16665.74023#011validation-rmse:16512.59961
[6]#011train-rmse:16029.90918#011validation-rmse:15873.58984
[7]#011train-rmse:15425.85156#011validation-rmse:15255.52441
[8]#011train-rmse:14986.61035#011validation-rmse:14825.12695
[9]#011train-rmse:14530.96289#011validation-rmse:14385.55078
[10]#011train-rmse:14186.62402#011validation-rmse:14025.68652
[11]#011train-rmse:13863.45898#011validation-rmse:13710.59180
[12]#011train-rmse:13588.44531#011validation-rmse:13431.32031
[13]#011train-rmse:13300.57422#011validation-rmse:13144.65332
[14]#011train-rmse:13086.45508#011validation-rmse:12939.81152
[15]#011train-rmse:12899.20312#011validation-rmse:12744.55078
[16]#011train-rmse:12707.21777#011validation-rmse:12565.38965
[17]#011train-rmse:12572.52930#011validation-rmse:12422.35547
[18]#011train-rmse:12363.52344#011validation-rmse:12224.28027
[19]#011train-rmse:12189.19238#011validation-rmse:12046.25586
[20]#011train-rmse:12039.84473#011validation-rmse:11885.82812
[21]#011train-rmse:11915.80957#011validation-rmse:11773.59570
[22]#011train-rmse:11765.84863#011validation-rmse:11624.20801
[23]#011train-rmse:11655.96094#011validation-rmse:11528.29394
[24]#011train-rmse:11579.12695#011validation-rmse:11448.27539
[25]#011train-rmse:11397.46875#011validation-rmse:11295.33008
[26]#011train-rmse:11255.59766#011validation-rmse:11158.93066
[27]#011train-rmse:11123.61231#011validation-rmse:11031.32324
[28]#011train-rmse:11018.77734#011validation-rmse:10943.09277
[29]#011train-rmse:10948.99512#011validation-rmse:10873.86719
[30]#011train-rmse:10839.43750#011validation-rmse:10762.55469
[31]#011train-rmse:10736.63769#011validation-rmse:10662.53906
[32]#011train-rmse:10677.74512#011validation-rmse:10603.68750
[33]#011train-rmse:10583.30469#011validation-rmse:10510.80859
[34]#011train-rmse:10527.99316#011validation-rmse:10457.47656
[35]#011train-rmse:10457.61035#011validation-rmse:10390.00293
[36]#011train-rmse:10365.39160#011validation-rmse:10309.12695
[37]#011train-rmse:10316.65234#011validation-rmse:10257.97266
[38]#011train-rmse:10262.47852#011validation-rmse:10202.87793
[39]#011train-rmse:10218.66406#011validation-rmse:10160.48926
[40]#011train-rmse:10164.30957#011validation-rmse:10111.64453
[41]#011train-rmse:10085.96582#011validation-rmse:10033.02246
[42]#011train-rmse:10036.03516#011validation-rmse:9989.02246
[43]#011train-rmse:9954.92188#011validation-rmse:9927.84473
[44]#011train-rmse:9901.72559#011validation-rmse:9880.42578
[45]#011train-rmse:9863.40625#011validation-rmse:9841.99414
[46]#011train-rmse:9824.41699#011validation-rmse:9803.93359
[47]#011train-rmse:9767.17871#011validation-rmse:9740.72461
[48]#011train-rmse:9702.85156#011validation-rmse:9681.80762
[49]#011train-rmse:9668.17383#011validation-rmse:9646.17871

2022-11-29 08:54:55 Uploading - Uploading generated training model
2022-11-29 08:54:55 Completed - Training job completed
Training seconds: 97
Billable seconds: 97

# TASK #11: DEPLOY THE MODEL TO MAKE PREDICTIONS

In [38]:
# Deploy the model to perform inference 
predictor = xgb_script_mode_estimator.deploy(initial_instance_count = 1, instance_type = 'ml.m5.2xlarge')

-----!

In [39]:
# test model on libsvm file
from sagemaker.serializers import LibSVMSerializer
predictor.serializer = LibSVMSerializer

In [40]:
# predict on libsvm file
with open('../data/validation', "r") as f:
    payload = f.read()

In [41]:
runtime_client = session.sagemaker_runtime_client
response = runtime_client.invoke_endpoint(
                                            EndpointName=predictor.endpoint_name, 
                                            ContentType="text/libsvm", Body=payload
)

In [42]:
result = response["Body"].read().decode("ascii")
predicted_values = np.fromstring(result[1:-2], dtype=float, sep=',')
print("Predicted values are {}.".format(predicted_values[:10]))

Predicted values are [13945.86523438  7645.62646484 22433.3828125   8799.90429688
  8799.90429688  6478.43505859 12579.07910156  7271.13378906
  8799.90429688 31876.49609375].

In [43]:
predicted_values.shape

(105393,)

In [44]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from math import sqrt

k = X_val.shape[1]
n = len(X_val)
RMSE = float(format(np.sqrt(mean_squared_error(y_val, predicted_values)),'.3f'))
MSE = mean_squared_error(y_val, predicted_values)
MAE = mean_absolute_error(y_val, predicted_values)
r2 = r2_score(y_val, predicted_values)
adj_r2 = 1-(1-r2)*(n-1)/(n-k-1)

print('RMSE =',RMSE, '\nMSE =',MSE, '\nMAE =',MAE, '\nR2 =', r2, '\nAdjusted R2 =', adj_r2)

RMSE = 9646.181
MSE = 93048813.27250983
MAE = 6324.915943286014
R2 = 0.8166946874655691
Adjusted R2 = 0.8164543532917633

In [45]:
# Delete the end-point
predictor.delete_model()
predictor.delete_endpoint()