# TASK #1: UNDERSTAND THE PROBLEM STATEMENT/GOAL

- This dataset contains weekly sales from 99 departments belonging to 45 different stores. 
- Our aim is to forecast weekly sales from a particular department.
- The objective of this case study is to forecast weekly retail store sales based on historical data.
- The data contains holidays and promotional markdowns offered by various stores and several departments throughout the year.
- Markdowns are crucial to promote sales especially before key events such as Super Bowl, Christmas and Thanksgiving. 
- Developing accurate model will enable make informed decisions and make recommendations to improve business processes in the future. 
- The data consists of three sheets: 
    - Stores
    - Features
    - Sales
- Data Source : https://www.kaggle.com/manjeetsingh/retaildataset

# TASK #2: IMPORT DATASET AND LIBRARIES

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import zipfile

In [2]:
df = pd.read_csv('../data/data_processed.csv')
df.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,month,Type,Size
0,1,1,2010-05-02,24924.50,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,5,A,151315
1,1,2,2010-05-02,50605.27,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,5,A,151315
2,1,3,2010-05-02,13740.12,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,5,A,151315
3,1,4,2010-05-02,39954.04,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,5,A,151315
4,1,5,2010-05-02,32229.38,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,5,A,151315

In [3]:
# Drop the date
y = df['Weekly_Sales'] # target
X = df.drop(columns = ['Weekly_Sales', 'Date']) # features

In [4]:
X = pd.get_dummies(X, columns = ['Type', 'Store', 'Dept'], drop_first = True)

In [5]:
df =  pd.concat([y,X], axis=1)
df.head()

,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,...,Dept_90,Dept_91,Dept_92,Dept_93,Dept_94,Dept_95,Dept_96,Dept_97,Dept_98,Dept_99
0,24924.50,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,...,0,0,0,0,0,0,0,0,0,0
1,50605.27,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,...,0,0,0,0,0,0,0,0,0,0
2,13740.12,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,...,0,0,0,0,0,0,0,0,0,0
3,39954.04,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,...,0,0,0,0,0,0,0,0,0,0
4,32229.38,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,...,0,0,0,0,0,0,0,0,0,0

In [6]:
X.shape

(421570, 138)

In [7]:
y.shape

(421570,)

In [8]:
X.head()

,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,...,Dept_90,Dept_91,Dept_92,Dept_93,Dept_94,Dept_95,Dept_96,Dept_97,Dept_98,Dept_99
0,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,...,0,0,0,0,0,0,0,0,0,0
1,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,...,0,0,0,0,0,0,0,0,0,0
2,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,...,0,0,0,0,0,0,0,0,0,0
3,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,...,0,0,0,0,0,0,0,0,0,0
4,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,...,0,0,0,0,0,0,0,0,0,0

In [9]:
# save columnames for later purposes
featurenames = list(X.columns)

In [10]:
X = np.array(X).astype('float32')
y = np.array(y).astype('float32')

In [11]:
# reshaping the array from (421570,) to (421570, 1)
y = y.reshape(-1,1)
y.shape

(421570, 1)

In [12]:
# spliting the data into train, validation and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.5)
X_test, X_val, y_test, y_val = train_test_split(X_test, y_test, test_size = 0.5)

In [13]:
X_train.shape

(210785, 138)

In [14]:
X_val.shape

(105393, 138)

In [15]:
X_test.shape

(105392, 138)

# TASK #10: TRAIN XGBOOST USING SAGEMAKER

In [16]:
# Convert the array into dataframe in a way that target variable is set as the first column and followed by feature columns
# This is because sagemaker built-in algorithm expects the data in this format.

train_data = pd.DataFrame({'Target': y_train[:,0]})
for i in range(X_train.shape[1]):
    train_data[i] = X_train[:,i]

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`

In [17]:
train_data.head()

,Target,0,1,2,3,4,5,6,7,8,...,128,129,130,131,132,133,134,135,136,137
0,6792.839844,0.0,64.120003,2.719,0.000000,0.0,0.000000,0.00000,0.000000,210.479889,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,37159.300781,0.0,83.739998,3.494,11811.650391,26.0,59.029999,2215.72998,2801.889893,225.522690,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,8499.110352,0.0,72.199997,3.355,0.000000,0.0,0.000000,0.00000,0.000000,220.132919,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,14025.040039,0.0,75.680000,3.467,0.000000,0.0,0.000000,0.00000,0.000000,216.028229,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,441.000000,0.0,40.230000,4.143,9337.259766,0.0,52.590000,2949.22998,5996.689941,137.797104,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
val_data = pd.DataFrame({'Target':y_val[:,0]})
for i in range(X_val.shape[1]):
    val_data[i] = X_val[:,i]

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  This is separate from the ipykernel package so we can avoid doing imports until

In [19]:
val_data.head()

,Target,0,1,2,3,4,5,6,7,8,...,128,129,130,131,132,133,134,135,136,137
0,13102.750000,0.0,47.689999,3.845,2570.290039,1288.349976,2.100000,341.519989,2157.850098,131.117340,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,34001.468750,0.0,48.759998,3.824,22860.640625,12223.820312,343.769989,20834.369141,9895.330078,129.816711,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,39987.609375,0.0,90.320000,3.084,0.000000,0.000000,0.000000,0.000000,0.000000,126.126602,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1284.640015,0.0,32.230000,3.008,0.000000,0.000000,0.000000,0.000000,0.000000,191.667892,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,310.369995,0.0,49.259998,3.348,0.000000,0.000000,0.000000,0.000000,0.000000,127.719582,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
val_data.shape

(105393, 139)

In [21]:
test_data = pd.DataFrame({'Target':y_test[:,0]})
for i in range(X_test.shape[1]):
    test_data[i] = X_test[:,i]

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  This is separate from the ipykernel package so we can avoid doing imports until

In [22]:
# convert df to libsvm data type
from sklearn.datasets import dump_svmlight_file

def df_to_libsvm(df: pd.DataFrame, filepath: str):
    x = df.drop(columns = ['Target'], axis=1)
    y = df['Target']
    dump_svmlight_file(X=x, y=y, f=filepath, zero_based=True)

In [23]:
# save train_data and validation_data as libsvm files compatible for sparkml-lib
df_to_libsvm(train_data, '../data/train')
df_to_libsvm(val_data, '../data/validation')
df_to_libsvm(test_data, '../data/test')

## also save train_data and validation_data as csv files.
#train_data.to_csv('../data/train.csv', header = False, index = False)
#val_data.to_csv('../data/validation.csv', header = False, index = False)

In [24]:
# Boto3 is the Amazon Web Services (AWS) Software Development Kit (SDK) for Python
# Boto3 allows Python developer to write software that makes use of services like Amazon S3 and Amazon EC2

import sagemaker
import boto3
from sagemaker import Session

# Let's create a Sagemaker session
sagemaker_session = sagemaker.Session()
#bucket = Session().default_bucket() 
bucket = 'salesprediction-ml-sagemaker'
prefix = 'XGBoost-Regressor'
key = 'XGBoost-Regressor'
#Roles give learning and hosting access to the data
#This is specified while opening the sagemakers instance in "Create an IAM role"
role = sagemaker.get_execution_role()

In [25]:
print(role)

arn:aws:iam::103721820087:role/service-role/AmazonSageMaker-ExecutionRole-20190909T202771

In [26]:
# read the data from csv file and then upload the data to s3 bucket
import os
with open('../data/train','rb') as f:
    # The following code uploads the data into S3 bucket to be accessed later for training
    boto3.Session().resource('s3').Bucket(bucket).Object(os.path.join(prefix, 'train', key)).upload_fileobj(f)

# Let's print out the training data location in s3
s3_train_data = 's3://{}/{}/train/{}'.format(bucket, prefix, key)
print('uploaded training data location: {}'.format(s3_train_data))

uploaded training data location: s3://salesprediction-ml-sagemaker/XGBoost-Regressor/train/XGBoost-Regressor

In [27]:
# read the data from csv file and then upload the data to s3 bucket
with open('../data/validation','rb') as f:
    # The following code uploads the data into S3 bucket to be accessed later for training

    boto3.Session().resource('s3').Bucket(bucket).Object(os.path.join(prefix, 'validation', key)).upload_fileobj(f)
# Let's print out the validation data location in s3
s3_validation_data = 's3://{}/{}/validation/{}'.format(bucket, prefix, key)
print('uploaded validation data location: {}'.format(s3_validation_data))

uploaded validation data location: s3://salesprediction-ml-sagemaker/XGBoost-Regressor/validation/XGBoost-Regressor

In [28]:
# read the data from csv file and then upload the data to s3 bucket
with open('../data/test','rb') as f:
    # The following code uploads the data into S3 bucket to be accessed later for training

    boto3.Session().resource('s3').Bucket(bucket).Object(os.path.join(prefix, 'test', key)).upload_fileobj(f)
# Let's print out the validation data location in s3
s3_test_data = 's3://{}/{}/test/{}'.format(bucket, prefix, key)
print('uploaded test data location: {}'.format(s3_test_data))

uploaded test data location: s3://salesprediction-ml-sagemaker/XGBoost-Regressor/test/XGBoost-Regressor

In [29]:
# creates output placeholder in S3 bucket to store the output
output_path = "s3://{}/{}/output".format(bucket, prefix)
print('training artifacts will be uploaded to: {}'.format(output_path))

training artifacts will be uploaded to: s3://salesprediction-ml-sagemaker/XGBoost-Regressor/output

In [30]:
hyperparams = {
    "max_depth": "5",
    "eta": "0.2",
    "gamma": "4",
    "min_child_weight": "6",
    "subsample": "0.7",
    "objective": "reg:squarederror",
    "num_round": "50",
    "verbosity": "1",
}

instance_type = "ml.m5.2xlarge"
content_type = "libsvm"
#content_type = "csv"

In [31]:
# Open Source distributed script mode
from sagemaker.session import Session
from sagemaker.inputs import TrainingInput
from sagemaker.xgboost.estimator import XGBoost

session = Session()
script_path = "xgb_train.py"

xgb_script_mode_estimator = XGBoost(
    entry_point=script_path,
    framework_version="1.5-1",  # Note: framework_version is mandatory
    hyperparameters=hyperparams,
    role=role,
    instance_count=1,
    instance_type=instance_type,
    output_path=output_path,
)

In [32]:
# Creating "train", "validation" channels to feed in the model
# Source: https://docs.aws.amazon.com/sagemaker/latest/dg/sagemaker-algo-docker-registry-paths.html
train_input = TrainingInput(
    "s3://{}/{}/{}/".format(bucket, prefix, "train"), content_type=content_type
)

valid_input = TrainingInput(
    "s3://{}/{}/{}/".format(bucket, prefix, "validation"), content_type=content_type
)

test_input = TrainingInput(
    "s3://{}/{}/{}/".format(bucket, prefix, "test"), content_type=content_type
)

#train_input = sagemaker.session.s3_input(s3_data = s3_train_data, content_type=content_type,s3_data_type = 'S3Prefix')
#valid_input = sagemaker.session.s3_input(s3_data = s3_validation_data, content_type=content_type,s3_data_type = 'S3Prefix')

In [33]:
train_input.config

{'DataSource': {'S3DataSource': {'S3DataType': 'S3Prefix',
   'S3Uri': 's3://salesprediction-ml-sagemaker/XGBoost-Regressor/train/',
   'S3DataDistributionType': 'FullyReplicated'}},
 'ContentType': 'libsvm'}

In [34]:
# train the model
data_channels = {'train': train_input,'validation': valid_input}
xgb_script_mode_estimator.fit(data_channels)

2022-11-28 15:40:22 Starting - Starting the training job...
2022-11-28 15:40:46 Starting - Preparing the instances for trainingProfilerReport-1669650022: InProgress
......
2022-11-28 15:41:46 Downloading - Downloading input data...
2022-11-28 15:42:06 Training - Downloading the training image...
2022-11-28 15:42:46 Training - Training image download completed. Training in progress..[2022-11-28 15:42:45.913 ip-10-0-72-141.ec2.internal:7 INFO utils.py:27] RULE_JOB_STOP_SIGNAL_FILENAME: None
[2022-11-28:15:42:45:INFO] Imported framework sagemaker_xgboost_container.training
[2022-11-28:15:42:45:INFO] No GPUs detected (normal if no gpus installed)
[2022-11-28:15:42:45:INFO] Invoking user training script.
[2022-11-28:15:42:46:INFO] Module xgb_train does not provide a setup.py.
Generating setup.py
[2022-11-28:15:42:46:INFO] Generating setup.cfg
[2022-11-28:15:42:46:INFO] Generating MANIFEST.in
[2022-11-28:15:42:46:INFO] Installing module with the following command:
/miniconda3/bin/python3 -m pip install .
Processing /opt/ml/code
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: xgb-train
  Building wheel for xgb-train (setup.py): started
  Building wheel for xgb-train (setup.py): finished with status 'done'
  Created wheel for xgb-train: filename=xgb_train-1.0.0-py2.py3-none-any.whl size=5739 sha256=7fc4c09455d16b470ad472c4cf0720ff9bd754e5a33aee601d2fb78501b421e8
  Stored in directory: /home/model-server/tmp/pip-ephem-wheel-cache-sixllq6h/wheels/f3/75/57/158162e9eab7af12b5c338c279b3a81f103b89d74eeb911c00
Successfully built xgb-train
Installing collected packages: xgb-train
Successfully installed xgb-train-1.0.0
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
[notice] A new release of pip available: 22.2.2 -> 22.3.1
[notice] To update, run: pip install --upgrade pip
[2022-11-28:15:42:48:INFO] No GPUs detected (normal if no gpus installed)
[2022-11-28:15:42:48:INFO] Invoking user script
Training Env:
{
    "additional_framework_parameters": {},
    "channel_input_dirs": {
        "train": "/opt/ml/input/data/train",
        "validation": "/opt/ml/input/data/validation"
    },
    "current_host": "algo-1",
    "framework_module": "sagemaker_xgboost_container.training:main",
    "hosts": [
        "algo-1"
    ],
    "hyperparameters": {
        "eta": "0.2",
        "gamma": "4",
        "max_depth": "5",
        "min_child_weight": "6",
        "num_round": "50",
        "objective": "reg:squarederror",
        "subsample": "0.7",
        "verbosity": "1"
    },
    "input_config_dir": "/opt/ml/input/config",
    "input_data_config": {
        "train": {
            "ContentType": "libsvm",
            "TrainingInputMode": "File",
            "S3DistributionType": "FullyReplicated",
            "RecordWrapperType": "None"
        },
        "validation": {
            "ContentType": "libsvm",
            "TrainingInputMode": "File",
            "S3DistributionType": "FullyReplicated",
            "RecordWrapperType": "None"
        }
    },
    "input_dir": "/opt/ml/input",
    "is_master": true,
    "job_name": "sagemaker-xgboost-2022-11-28-15-40-22-195",
    "log_level": 20,
    "master_hostname": "algo-1",
    "model_dir": "/opt/ml/model",
    "module_dir": "s3://salesprediction-ml-sagemaker/sagemaker-xgboost-2022-11-28-15-40-22-195/source/sourcedir.tar.gz",
    "module_name": "xgb_train",
    "network_interface_name": "eth0",
    "num_cpus": 8,
    "num_gpus": 0,
    "output_data_dir": "/opt/ml/output/data",
    "output_dir": "/opt/ml/output",
    "output_intermediate_dir": "/opt/ml/output/intermediate",
    "resource_config": {
        "current_host": "algo-1",
        "current_instance_type": "ml.m5.2xlarge",
        "current_group_name": "homogeneousCluster",
        "hosts": [
            "algo-1"
        ],
        "instance_groups": [
            {
                "instance_group_name": "homogeneousCluster",
                "instance_type": "ml.m5.2xlarge",
                "hosts": [
                    "algo-1"
                ]
            }
        ],
        "network_interface_name": "eth0"
    },
    "user_entry_point": "xgb_train.py"
}
Environment variables:
SM_HOSTS=["algo-1"]
SM_NETWORK_INTERFACE_NAME=eth0
SM_HPS={"eta":"0.2","gamma":"4","max_depth":"5","min_child_weight":"6","num_round":"50","objective":"reg:squarederror","subsample":"0.7","verbosity":"1"}
SM_USER_ENTRY_POINT=xgb_train.py
SM_FRAMEWORK_PARAMS={}
SM_RESOURCE_CONFIG={"current_group_name":"homogeneousCluster","current_host":"algo-1","current_instance_type":"ml.m5.2xlarge","hosts":["algo-1"],"instance_groups":[{"hosts":["algo-1"],"instance_group_name":"homogeneousCluster","instance_type":"ml.m5.2xlarge"}],"network_interface_name":"eth0"}
SM_INPUT_DATA_CONFIG={"train":{"ContentType":"libsvm","RecordWrapperType":"None","S3DistributionType":"FullyReplicated","TrainingInputMode":"File"},"validation":{"ContentType":"libsvm","RecordWrapperType":"None","S3DistributionType":"FullyReplicated","TrainingInputMode":"File"}}
SM_OUTPUT_DATA_DIR=/opt/ml/output/data
SM_CHANNELS=["train","validation"]
SM_CURRENT_HOST=algo-1
SM_MODULE_NAME=xgb_train
SM_LOG_LEVEL=20
SM_FRAMEWORK_MODULE=sagemaker_xgboost_container.training:main
SM_INPUT_DIR=/opt/ml/input
SM_INPUT_CONFIG_DIR=/opt/ml/input/config
SM_OUTPUT_DIR=/opt/ml/output
SM_NUM_CPUS=8
SM_NUM_GPUS=0
SM_MODEL_DIR=/opt/ml/model
SM_MODULE_DIR=s3://salesprediction-ml-sagemaker/sagemaker-xgboost-2022-11-28-15-40-22-195/source/sourcedir.tar.gz
SM_TRAINING_ENV={"additional_framework_parameters":{},"channel_input_dirs":{"train":"/opt/ml/input/data/train","validation":"/opt/ml/input/data/validation"},"current_host":"algo-1","framework_module":"sagemaker_xgboost_container.training:main","hosts":["algo-1"],"hyperparameters":{"eta":"0.2","gamma":"4","max_depth":"5","min_child_weight":"6","num_round":"50","objective":"reg:squarederror","subsample":"0.7","verbosity":"1"},"input_config_dir":"/opt/ml/input/config","input_data_config":{"train":{"ContentType":"libsvm","RecordWrapperType":"None","S3DistributionType":"FullyReplicated","TrainingInputMode":"File"},"validation":{"ContentType":"libsvm","RecordWrapperType":"None","S3DistributionType":"FullyReplicated","TrainingInputMode":"File"}},"input_dir":"/opt/ml/input","is_master":true,"job_name":"sagemaker-xgboost-2022-11-28-15-40-22-195","log_level":20,"master_hostname":"algo-1","model_dir":"/opt/ml/model","module_dir":"s3://salesprediction-ml-sagemaker/sagemaker-xgboost-2022-11-28-15-40-22-195/source/sourcedir.tar.gz","module_name":"xgb_train","network_interface_name":"eth0","num_cpus":8,"num_gpus":0,"output_data_dir":"/opt/ml/output/data","output_dir":"/opt/ml/output","output_intermediate_dir":"/opt/ml/output/intermediate","resource_config":{"current_group_name":"homogeneousCluster","current_host":"algo-1","current_instance_type":"ml.m5.2xlarge","hosts":["algo-1"],"instance_groups":[{"hosts":["algo-1"],"instance_group_name":"homogeneousCluster","instance_type":"ml.m5.2xlarge"}],"network_interface_name":"eth0"},"user_entry_point":"xgb_train.py"}
SM_USER_ARGS=["--eta","0.2","--gamma","4","--max_depth","5","--min_child_weight","6","--num_round","50","--objective","reg:squarederror","--subsample","0.7","--verbosity","1"]
SM_OUTPUT_INTERMEDIATE_DIR=/opt/ml/output/intermediate
SM_CHANNEL_TRAIN=/opt/ml/input/data/train
SM_CHANNEL_VALIDATION=/opt/ml/input/data/validation
SM_HP_ETA=0.2
SM_HP_GAMMA=4
SM_HP_MAX_DEPTH=5
SM_HP_MIN_CHILD_WEIGHT=6
SM_HP_NUM_ROUND=50
SM_HP_OBJECTIVE=reg:squarederror
SM_HP_SUBSAMPLE=0.7
SM_HP_VERBOSITY=1
PYTHONPATH=/miniconda3/bin:/:/miniconda3/lib/python/site-packages/xgboost/dmlc-core/tracker:/miniconda3/lib/python38.zip:/miniconda3/lib/python3.8:/miniconda3/lib/python3.8/lib-dynload:/miniconda3/lib/python3.8/site-packages
Invoking script with the following command:
/miniconda3/bin/python3 -m xgb_train --eta 0.2 --gamma 4 --max_depth 5 --min_child_weight 6 --num_round 50 --objective reg:squarederror --subsample 0.7 --verbosity 1
[0]#011train-rmse:24426.71680#011validation-rmse:24465.30859
[1]#011train-rmse:21912.54688#011validation-rmse:21904.63672
[2]#011train-rmse:20072.53125#011validation-rmse:20031.67969
[3]#011train-rmse:18625.49023#011validation-rmse:18595.93750
[4]#011train-rmse:17514.26758#011validation-rmse:17473.42969
[5]#011train-rmse:16639.87305#011validation-rmse:16601.57031
[6]#011train-rmse:16002.07227#011validation-rmse:15980.98438
[7]#011train-rmse:15437.58496#011validation-rmse:15407.58594
[8]#011train-rmse:14932.13574#011validation-rmse:14915.00488
[9]#011train-rmse:14569.14844#011validation-rmse:14572.52148
[10]#011train-rmse:14171.78027#011validation-rmse:14167.59863
[11]#011train-rmse:13844.08594#011validation-rmse:13841.49414
[12]#011train-rmse:13581.69336#011validation-rmse:13589.99902
[13]#011train-rmse:13337.66602#011validation-rmse:13354.07227
[14]#011train-rmse:13110.00000#011validation-rmse:13123.44238
[15]#011train-rmse:12848.34082#011validation-rmse:12862.36035
[16]#011train-rmse:12703.05957#011validation-rmse:12719.27344
[17]#011train-rmse:12536.91504#011validation-rmse:12555.11426
[18]#011train-rmse:12371.97266#011validation-rmse:12391.81543
[19]#011train-rmse:12271.69336#011validation-rmse:12291.01269
[20]#011train-rmse:12099.01660#011validation-rmse:12120.63769
[21]#011train-rmse:11939.43750#011validation-rmse:11966.60352
[22]#011train-rmse:11820.12891#011validation-rmse:11838.88477
[23]#011train-rmse:11737.13184#011validation-rmse:11753.27930
[24]#011train-rmse:11572.24609#011validation-rmse:11579.94727
[25]#011train-rmse:11456.63672#011validation-rmse:11462.45019
[26]#011train-rmse:11330.97852#011validation-rmse:11335.01172
[27]#011train-rmse:11191.03418#011validation-rmse:11201.99316
[28]#011train-rmse:11081.92773#011validation-rmse:11091.15625
[29]#011train-rmse:10979.32129#011validation-rmse:10984.25195
[30]#011train-rmse:10915.89160#011validation-rmse:10921.20898
[31]#011train-rmse:10828.11719#011validation-rmse:10835.29394
[32]#011train-rmse:10759.03418#011validation-rmse:10766.93457
[33]#011train-rmse:10703.17383#011validation-rmse:10711.72559
[34]#011train-rmse:10627.49512#011validation-rmse:10637.40430
[35]#011train-rmse:10576.48144#011validation-rmse:10586.15137
[36]#011train-rmse:10523.67188#011validation-rmse:10529.32715
[37]#011train-rmse:10432.97656#011validation-rmse:10442.64062
[38]#011train-rmse:10297.72363#011validation-rmse:10324.25391
[39]#011train-rmse:10215.99609#011validation-rmse:10243.89356
[40]#011train-rmse:10145.07129#011validation-rmse:10172.43066
[41]#011train-rmse:10073.88965#011validation-rmse:10103.70703
[42]#011train-rmse:10001.94531#011validation-rmse:10026.38184
[43]#011train-rmse:9932.81641#011validation-rmse:9960.69141
[44]#011train-rmse:9891.02539#011validation-rmse:9919.73633
[45]#011train-rmse:9852.37598#011validation-rmse:9882.45703
[46]#011train-rmse:9815.30078#011validation-rmse:9845.30176
[47]#011train-rmse:9755.00879#011validation-rmse:9787.11621
[48]#011train-rmse:9704.33789#011validation-rmse:9738.99023
[49]#011train-rmse:9635.57324#011validation-rmse:9668.63965

2022-11-28 15:43:20 Uploading - Uploading generated training model
2022-11-28 15:43:47 Completed - Training job completed
Training seconds: 110
Billable seconds: 110

# TASK #11: DEPLOY THE MODEL TO MAKE PREDICTIONS

In [35]:
# Deploy the model to perform inference 
predictor = xgb_script_mode_estimator.deploy(initial_instance_count = 1, instance_type = 'ml.m5.2xlarge')

-----!

In [131]:
# test model on libsvm file
from sagemaker.serializers import LibSVMSerializer
predictor.serializer = LibSVMSerializer

In [142]:
# predict on libsvm file
with open('../data/validation', "r") as f:
    payload = f.read()

In [143]:
runtime_client = session.sagemaker_runtime_client
response = runtime_client.invoke_endpoint(
                                            EndpointName=predictor.endpoint_name, 
                                            ContentType="text/libsvm", Body=payload
)

In [144]:
result = response["Body"].read().decode("ascii")
predicted_values = np.fromstring(result[1:-2], dtype=float, sep=',')
print("Predicted values are {}.".format(predicted_values[:10]))

Predicted values are [ 6767.17675781 33017.98046875 49357.37109375  8696.41796875
  4399.16503906 11170.62890625 55041.44140625  9964.31152344
  4525.75292969  5143.10693359].

In [145]:
predicted_values.shape

(105393,)

In [146]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from math import sqrt

k = X_val.shape[1]
n = len(X_val)
RMSE = float(format(np.sqrt(mean_squared_error(y_val, predicted_values)),'.3f'))
MSE = mean_squared_error(y_val, predicted_values)
MAE = mean_absolute_error(y_val, predicted_values)
r2 = r2_score(y_val, predicted_values)
adj_r2 = 1-(1-r2)*(n-1)/(n-k-1)

print('RMSE =',RMSE, '\nMSE =',MSE, '\nMAE =',MAE, '\nR2 =', r2, '\nAdjusted R2 =', adj_r2)

RMSE = 9668.645
MSE = 93482686.76671964
MAE = 6286.470172326399
R2 = 0.8194966527365378
Adjusted R2 = 0.8192599922588139

In [ ]:
# Delete the end-point
predictor.delete_model()
predictor.delete_endpoint()